# Promptプロジェクトのファイルすべてを除外
.vs/

CommonLib/bin/
CommonLib/obj/

CompilerLib/bin/
CompilerLib/obj/

RuntimeLib/bin/
RuntimeLib/obj/

Test_CompilerLib/bin/
Test_CompilerLib/obj/

Documents/bin/
Documents/obj/

Documents/TODO.md

